*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn_1:hover{
    width: 200px;
    height: 50px;
    border: none;
    transition: 1s; 
    border-radius: 5px;
    font-size: 20px;
    color: white;
    background: linear-gradient(270deg, rgb(255, 136, 0), rgb(254, 190, 53),  rgb(255, 255, 6)  );
    transition: 1s linear ease ease;
}

.btn_1{
    width: 200px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    color: grey;
    background:none;
}

.btn_2:hover{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    transition: 1s;
    color: white;
    background: linear-gradient(270deg, rgb(214, 160, 240), rgb(166, 93, 240),  rgb(6, 126, 255)  );
    transition: 1s linear ease ease;
}

.btn_2{
    width: 200px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    color: grey;
    background:none;
}

.btn_3:hover{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    transition: 1s;
    background: linear-gradient(270deg, rgb(105, 250, 255), rgb(37, 219, 255),  rgb(70, 255, 125)  );
    transition: 1s linear ease ease;
}

.btn_3{
    width: 200px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    color: grey;
    background:none;
}

.btn_4:hover{
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    transition: 1s;
    background: linear-gradient(270deg, rgb(145, 220, 255), rgb(44, 160, 255),  rgb(6, 160, 255)  );
}

.btn_4{
    width: 300px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    color: grey;
    background:none;
}

.btn_5:hover{
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    background: linear-gradient(270deg, rgb(255, 177, 255), rgb(238, 88, 255),  rgb(255, 6, 226)  );
    transition: 1s;
}

.btn_5{
    width: 300px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    color: grey;
    background:none;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

.solo_btn{
    text-align: center;
    padding: 10px;
    width: 300px;
    height: 50px;
    background-color: rgb(56, 73, 255);
    font-size: 20px;
    border: none;
    color: white;
    border-radius:3px;
}

.solo_btn:hover{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(56, 73, 255);
    font-size: 20px;
    transition: 2s;
    color: white;
}

.solo_btn:active{
    width: 200px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(69, 255, 63);
    transition: 2s;
    color: white;
}

.box1{
    width: 300px;
    height: 50px;
    position: relative;
}

.box1::after {
    width: 30%;
    height: 50px;
    background-color: yellow;
    position: absolute;
}

.box1::before{
    position: active;
    width: 70%;
    height: 50px;
    background-color: green;
}
